.Section {
    display: flex;
    justify-content: center;
    background: plum;
    padding: 5px;
    
}

.Section--half {
   display: inline-flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   width: 50%;
   background: pink;
   margin: auto;
}