.Section {
    box-sizing: border-box;
    display: inline-block;
    padding: 20px;
}

.Section--full {
    width: 100%;
    text-align: center;
    background: pink;
    margin: 0;
}

.Section--half {
    width: 50%;
    background-color: palevioletred;
    border: 2px solid purple;
}